include benchmark.py
include LICENSE
recursive-include byte *.py *.json
recursive-include byte_server *.py
recursive-include byte_inference *.py
recursive-include byte_memory *.py
global-exclude *.py[cod]
global-exclude *.pyo
prune .pytest_cache
prune tests/.pytest_cache
